<!--
* Name: Haris Sohail
* Date: 11/26/2017
*  NBA Database Project  
* 
 -->

 <center>
<h1>NBA PLAYER DATABASE</h1> 
<br>

<a href="/players/">Database Home</a>
<a href="/players/searchPlayer/">Search Players</a>
<a href="/players/searchTeam/">Search Teams</a>
<a href="/players/searchTeamP/">Search Players and Teams Relationship</a>
<a href="/players/searchPlayerP/">Search Players and Positions Relationship</a>


<br>
 <h2>Team search by championships won</h1>
 <!-- What rows to select -->
   <h3>   INFO: Filter table to find teams who have won at least a certain amount of championships. </h3>
    <div class = "forms">
    <form id="viewplayer" action="/players/searchTeamResult" method="post">
    Won at least this many championships: <input type="number" name="championships" id="ch"><br>

    <input type="submit" value="Submit" onClick = "return invalid()">
    </form>
</div>
 
<script>
    function invalid()
        {
          ch = document.getElementById("ch").value;
   
          if (ch == '') 
           { 
              alert("Cannot leave those input fields empty.");
              return false; 
           }
           else
           {
            return true; 
           }
        }
</script>
</center> 